.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(circle, #d1d5db 1px, transparent 1px);
  background-size: 24px 24px;
  background-color: #fafafa;
}

.title {
  font-size: 4rem;
  font-family: var(--font-geist-mono);
  font-weight: 400;
  color: #171717;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.cursor {
  animation: blink 1s infinite;
  font-weight: 100;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
}
